<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<h1 class="text-center">Klára skráningu</h1>
		<p class="text-center">Svo mögulegt sé að reikna umhverfisáhrif af rekstrinum þarf að klára skráninguna</p>
			<div class="well">
			<!--nota url af því að ég nestaðir profile undir users með plural resourceS í routes.rb, ef ekki þannig þá þarf ekki url og formið fer beint í create Method í profiles_Controller-->
				<%= render 'form' %>
			</div>	
	</div>
</div>		