<div class="featurette" id="sec2">
  <div class="container">
    <div class="row">
      
    <div class="row">
      <div class="col-md-6 text-center">
        
          
        
      </div>
      <div class="col-md-3 text-center">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h4><i class="fa fa-check"></i> Græn ímynd</h4></div>
                <div class="panel-body text-center">Með því að skrá fyrirtækið þitt í Sprettu verður það hluti af ört stækkandi samfélagi samfélagslega ábyrgra fyrirtækja og stofnana. 
                  
                      </div>
                 </div>
      </div>
      
      <div class="col-md-3 text-center">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h4><i class="fa fa-check"></i> Græn ímynd</h4></div>
                <div class="panel-body text-center">Með því að skrá fyrirtækið þitt í Sprettu verður það hluti af ört stækkandi samfélagi samfélagslega ábyrgra fyrirtækja og stofnana. 
                  
                      </div>
                 </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-center">
        
          
        
      </div>
      <div class="col-md-3 text-center">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h4><i class="fa fa-check"></i> Græn ímynd</h4></div>
                <div class="panel-body text-center">Með því að skrá fyrirtækið þitt í Sprettu verður það hluti af ört stækkandi samfélagi samfélagslega ábyrgra fyrirtækja og stofnana. 
                  
                      </div>
                 </div>
      </div>
      
      <div class="col-md-3 text-center">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h4><i class="fa fa-check"></i> Græn ímynd</h4></div>
                <div class="panel-body text-center">Með því að skrá fyrirtækið þitt í Sprettu verður það hluti af ört stækkandi samfélagi samfélagslega ábyrgra fyrirtækja og stofnana. 
                  
                      </div>
                 </div>
      </div>
    </div>
 
    </div>
  </div>
</div>	