<div id="sec1" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Nýjar lausnir í umhverfisstjórn fyrirtækja</h1>
        <p class="lead">Spretta býður fyrirtækjum og stofnunum upp á gagnvirkan vettvang til að efla umhverfisstjórn í rekstri sínum. Með því að innleiða umhverfisstjórnunarkerfi í rekstur sinns geta fyrirtæki og stofnanir sparað umtalsverðar fjárhæðir og stuðlað að grænni ímynd rekstursins í leiðinni.</p>
      </div>
      <div class="col-md-5">

      <%= image_tag("logoFsvg.svg", :alt => "logo", height: '400') %>

        <!--<h1 class="pull-right">
			<%#= link_to "Notendur", users_path, class: 'btn btn-primary' %>
		</h1> -->
      </div>
     
    </div>
  </div>
</div>