     <!-- Neðri partur -->
<div class="featurette blurb bright" id="sec3">
  <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Ávinningur notenda</h1>
        </div>
          <div class="col-sm-3 ">
              <div class="panel panel-default">
                  <div class="panel-heading text-center"><h2><i class="fa fa-check"></i> Græn ímynd</h2></div>
                     <div class="panel-body text-center">Með því að skrá fyrirtækið þitt í Sprettu verður það hluti af ört stækkandi samfélagi samfélagslega ábyrgra fyrirtækja og stofnana. 
                      <div class="row">&nbsp;</div>
                        <%= link_to "Notendur", users_path, class: 'btn btn-primary' %>
                      </div>
                 </div>
            </div>
          <div class="col-sm-3 ">
              <div class="panel panel-default">
                  <div class="panel-heading text-center"><h2><i class="fa fa-check"></i> Samanburður</h2></div>
                    <div class="panel-body text-center">Með því að skrá fyrirtækið þitt í Sprettu getur þú borið saman umhverfisþætti í þínum rekstri við önnur fyrirtæki í sambærilegum rekstri og stærð.
                       <div class="row">&nbsp;</div>
                        <%= link_to "Samanburður", "#", class: 'btn btn-primary' %>
                    </div>
              </div>
          </div>

          <div class="col-sm-3 ">
              <div class="panel panel-default">
                  <div class="panel-heading text-center"><h2><i class="fa fa-check"></i> Grænt bókhald</h2></div>
                    <div class="panel-body text-center">Með því að skrá í gagnagrunn Sprettu þær upplýsingar sem snúa að umhverfisþáttum í rekstri fyrirtækis þíns, færð þú aðgang að bllbblbb sem má nota til ímyndarstyrkingar og í ársskýrslugerð.
                       <div class="row">&nbsp;</div>
                        <%= link_to "Samanburður", "#", class: 'btn btn-primary' %>
                    </div>
              </div>
          </div>

          <div class="col-sm-3 ">
              <div class="panel panel-default">
                  <div class="panel-heading text-center"><h2><i class="fa fa-check"></i> Spjallsvæði</h2></div>
                    <div class="panel-body text-center">Þau fyrirtæki sem eru skráð í Sprettu fá aðgang að upplýsingatorgi þar sem hægt er að leggja fram fyrirspurnir auk þess sem hægt er að svara fyrirspurnum annarra og láta gott af sér leiða.
                       <div class="row">&nbsp;</div>
                        <%= link_to "Samanburður", "#", class: 'btn btn-primary' %>
                    </div>
              </div>
          </div>
     </div>
    </div>
   </div>  