<div class="col-lg-4 col-sm-6">
	<div class="panel panel-default">
  		<div class="panel-heading ">
    		<%= link_to "Pappírsvörur", papers_path, class: 'panel-title' %>
  		</div>
  		<div class="panel-body">
    		
    		
  		</div>
  	</div>	
</div>

<div class="col-lg-4 col-sm-6">
	<div class="panel panel-default">
  		<div class="panel-heading ">
        <%= link_to "Ræstingar", cleanings_path, class: 'panel-title' %>  		</div>
  		<div class="panel-body">
    		
  		</div>
  	</div>	
</div>

<div class="col-lg-4 col-sm-6">
	<div class="panel panel-default">
  		<div class="panel-heading ">
    		  <%= link_to "Rafmagn", electros_path, class: 'panel-title' %>
  		</div>
  		<div class="panel-body">
    		
    		
  		</div>
  	</div>	
</div>

<div class="col-lg-4 col-sm-6">
	<div class="panel panel-default">
  		<div class="panel-heading ">
    		<h3 class="panel-title">Ferðir</h3>
  		</div>
  		<div class="panel-body">
    		
    	
  		</div>
  	</div>	
</div>

<div class="col-lg-4 col-sm-6">
	<div class="panel panel-default">
  		<div class="panel-heading ">
    		<h3 class="panel-title">Úrgangur</h3>
  		</div>
  		<div class="panel-body">
    		
    		
  		</div>
  	</div>	
</div>

<div class="col-lg-4 col-sm-6">
	<div class="panel panel-default">
  		<div class="panel-heading ">
    		<h3 class="panel-title">Aðrar rekstrarvörur</h3>
  		</div>
  		<div class="panel-body">
    		
    		
  		</div>
  	</div>	
</div>