			<div class="container">
					<div class="row well push-uppl-well">
						<div class="col-md-8 col-md-ofset-2 push-uppl">
							Flokkur síðast uppfærður:
							<%= current_user.hwaters(:updated_at).to_s  %>
						</div>
					</div>
				<div class="row col-md-6"> <!-- efsta röð -->

					<table class="table table-hover">
				  	  <thead class="thead-default">
						<tr>
							<th>Texti</th>
							<th>Eining</th>
						</tr>
				  	  </thead>	
				  	   <tbody>
					<!-- Heitt vatn mv. stöðugildi  -->
						<tr>
							<td>m&#179; á hvert stöðugildi</td>
							<td><%= @hwater_total_m3_per_capita %> m&#179;</td>
						</tr>
					<!-- m3 heitt vatn / m2 byggingu.  -->
						<tr>
							<td>m&#179; heitt vatn fyrir hvern m&sup2; húsnæðis.</td>
							<td><%= number_with_precision(@hwater_m3_m2_ratio.to_f, precision: 2)%> m&#179;/m&sup2;</td>
						</tr>
					   </tbody>	
					
				    </table>

				</div>
			</div>		
							

