

@import "bootstrap-sprockets";
@import "bootstrap";



html,
body {
  height: 100%;
  width: 100%;
  font-family:Arial,sans-serif;
}

/* fix bs3 horizontal scrollbar bug */
.row { margin: 0; padding: 0 }


/* use special fonts in certain elements */
h1,h2,h3,h4,.lead,.btn,.navbar a {
  text-transform:uppercase;
  font-family:'Voltaire',Arial,sans-serif;
  letter-spacing:2px;
}

h1 {
  font-size:50px;
}

.liner{
  border-bottom: solid 1px #dadada;
  padding: 40px 0 ;

}

/* Navbar */

.navbar-nav{
  float: none;
  
}
.navbar{
  background-color: #fff;
  border-bottom: solid 1px #eeeeee;
}

/* Header CSS */

.vert {
  vertical-align: middle;
  width:100%;
  padding-top:5%;
  text-align:center;
}

.header h1 {
  font-size:80px;
  -webkit-text-stroke: 1px rgba(10,10,10,0.1);
  color:#431a6d;
  color:#fff;
 margin: auto;

 margin-top: 20%;
  text-transform:uppercase;
}

.header .lead {
  color:#d46054;
  font-size:25px;
}

.header {
  height: 90%;
  background: #f68076 url('recycle.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}

.alt {
  background-color: #6E28C9; /* Þarf að breyta lit */
}
/*
.alt .lead {
  color: #3B0496;
}*/

.header .btn-lg {
   font-size:18px;
   border-color:#eeeeee;
   padding:15px;
   background-color:transparent;
   color:#ffffff;
   margin-bottom: 20%;
}

.header .btn-lg:hover {
   background-color: rgba(10,10,10,0.3);
   color:#eaeaea; /* Þarf að breyta lit */
}


/* Header Css Ends*/


/* Section 1 Css */

.lead-sections{
  margin-top: 50px;
  margin-bottom: 70px;
  line-height: 1.5em;

}

#sec1 h2{
margin-top: 65px;

}

image_tag{
  margin: auto 0;
  display: inline-block;
  vertical-align: middle;
}

.logo-sections{
  
 padding-left: 30%;

 
  width: 120%;
  height: 120%;
}
.blurb {
  padding: 0 0 0 0;
  background-color:#fefefe;
}

/* Section 1 end */

/* viðskiptavina section */

.box{
  align:center;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 100%;
  background-color: #eaeaea;

}

#sec2 .panel {
  background-color:transparent;
}



/* Annar hluti */

#sec2 {

height: 50%;
  background: #f68076 url('recycle2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}

.featurette {
  background: #337ab7;
  padding: 50px 0;
  color: #ffffff;
}

.featurette-item {
  margin-bottom: 15px;
}

.featurette-item > h3  {
  background-color: rgba(10,10,10,0.1);
  margin: 0 20px;
  border: 5px solid #337ab7;
  border-radius: 50%;
  display: inline-block;
  font-size: 40px;
  width: 150px;
  height: 150px;
  line-height: 130px;
  vertical-align: middle; 
  text-align: center;
}

.featurette-item > i:hover {
  font-size: 68px;
}

.running-total{
  color: #337ab7;
  font-weight: strong;
}

.running-total .eining{
  font-size: 0.3em;
  color: #337ab7;
}
#sec2 h1{
  color: #d46054;
  margin-bottom:40px;
}


/* section 3 */

#sec3{
  
  height: 80%;
  background: #fff url('Recycling4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sec3 h1{
  color: #000;
}

#sec3 .panel-heading {
  background-color:transparent;
}

#sec3 .panel-heading h2 {
  font-size: 1em;
}



/* section 5 */

#sec5 {
  height: 80%;
  background:  #fff url('White.png') no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }


/* Device Session */

.img-back{
  height: 80%;
  background: #f68076 url('recycling3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.well.sign-up-form{
  background-color: rgba(10,10,10,0.3);
  border: none;
  margin-top: 20%;
  color: #fff;
}


/* Comments - Forum */

.comment{
  border-bottom: solid 1px #eaeaea;
}
.comment-user {
  
  color: #dadada;
  font-style: italic;
}


/* USER SECTION */

.left-side h2 img{
  height: 7%;
  width: 7%;
}

/* Panels in user section */

.panel-heading h4.panel-title  {
  text-transform: capitalize;
  font-size: .8em;
}
.push-uppl-well{
  margin-bottom: 20px;
}
.push-uppl{
  margin: 10px 0;
}
/* --- má eyða ----- */
.user-panel-body{
  background-color: #dedede;
}

.user-panel-body p{
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  color: #222222;
  line-height: 1.8em;
}

.user-panel-body p .eining{
  font-size: .5em;
 
  text-align: center;
}
/* ----- eyða ---- */

tbody{
  border-collapse:collapse;
}

tbody tr td{

  font-weight: bold;
  border: none;
}


